<div class="container mt-5">
  <div class="row my-5">
    <div class="col">
      <div class="card bg-dark">
        <div class="card-body"><a href="hotelbooking" class="nav-link text-white text-center">Hotel Booking System</a></div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-dark">
        <div class="card-body"> <a href="trainbooking" class="nav-link text-white text-center">Train Booking System</a></div></div>
      </div>

  </div>
  <div class="row">
    <div class="col" >
      <div class="card bg-dark">
        <div class="card-body"><a href="foodorder" class="nav-link text-white text-center">Food Ordering Website</a></div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
