<div class="container mt-5">
  <h1>Explore My projects</h1>
  <div class="row my-5">
    <div class="col-lg-12 mt-1">
      <div class="card">
        <div class="card-body w-100 m-0 p-0">
          <a href="hotelbooking" class="w-100 p-2 nav-link text-white text-center">Hotel Booking System</a>
          <div class="p-2">
            <p><b>Project Name: </b> BookMyTrip – Hotel Booking System</p><hr>
            <p><b>Overview: </b> A dynamic hotel booking platform where users can search, filter, and reserve hotel rooms.
              Designed for easy navigation and seamless booking experiences.</p><hr>
            <p><b>Tech Stack: </b> Angular, TypeScript, Bootstrap and Css</p><hr>
            <b>Key Features:</b>
            <ul>
              <li>Browse and search available hotels and rooms</li>
              <li>User registration, login, and profile management</li>
              <li>Secure room booking with real-time availability</li>
              <li>Admin dashboard for managing hotels, rooms, and bookings</li>
              <li>My Role: Built the front-end interface with Angular, implemented booking functionalities, handled user
                authentication, and integrated responsive design for mobile and desktop devices.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-4 mt-1">
      <div class="card">
        <div class="card-body w-100 m-0 p-0"><a href="trainbooking" class="w-100 p-2 nav-link text-white text-center">Train Booking System</a>
          <h5>Project Description</h5>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-1">
      <div class="card">
        <div class="card-body w-100 m-0 p-0"><a href="foodorder" class="w-100 p-2 nav-link text-white text-center">Food Ordering Website</a>
          <h5>Project Description</h5>
          <p></p>
        </div>
      </div>
    </div> -->

  </div>
</div>
